/* ------------------- OVERSKRIFTER ------------------ -*/
.heroHeading {
    font-size: 2.5rem;
    line-height: 1.25;
    font-weight: 500;
    margin-bottom: .5rem;

}

.supportCardH2 { 
    color: black; /*#2e475d*/;
    margin-bottom: 1.5rem;  
    font-size: 1.5rem;
    font-weight: bold;
    
}

.detailItemH3{
    font-size: 1.125rem;
    line-height: 1.56;
    margin: 1rem 0;
}
.detailItemH4{
  
        font-size: 1.125rem;
        line-height: 1.56;
        margin: 1rem 0;
}

/* ------------------ VENSTRE KORT ------------------ */


.heroP {
    font-size: 1rem;
    line-height: 1.75;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* ------------------ DIVEN HVOR BEGGE KORTENE ER INNI ------------------ */
.mainWrapper {
    max-width: 67.5rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* ------------------ HOVEDTEKST OG HOVEDBILDE ------------------ */
.heroContent {
    background-image: url(/kontaktOss.WebP);
    background-repeat: no-repeat;
    object-fit: cover;
    height: max-content;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.heroBody {
    width: 100%;
}

.heroText {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    width: 52%;
    padding: 6rem 1rem;
    text-align: flex-start; /* Replace start with flex-start */
}

/* ------------------ HØYRE KORT ------------------*/
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.supports { /* begge kortene på siden*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -3.75rem;
    gap: 1rem;
}

.supportCard { /* venstre kort*/
    width: calc((100% - 20px) / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 33.75rem;
    padding: 2rem 2.5rem;
    background-color: white;
    border-radius: 1.25rem;
    border: 1px solid #80868c;
    box-shadow: 0px 4px 10px rgba(64, 62, 62, 0.5);
}

.supportCard img {
    width: 50px;
    height: 50px;
    margin-bottom: 24px;
}

.supportCardA {
    text-decoration: underline;
    color: rgb(20, 112, 216);
    font-weight: 1500;
    margin-bottom: 2.5rem;
}

.supportCard a {
    margin-bottom: 2.5rem;
}

/* ------------------ KNAPPEN TIL SEND SKJEMA ------------------ */
.btnCommon { 
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border-radius: .188rem;
    padding: .9em 1.388em;
    font-size: .9375rem;
    min-width: 8.555rem;
    font-weight: 700;
    margin-top: 1rem;
}

.btnCommon:hover{
    background-color: grey;
    color: white;
}

/* ------------------ DIVEN NEDERST ------------------ */
.connect {
    display: flex;
    justify-content: center;
    align-items: center;
}

.connectTitle {
    margin-bottom: 4rem;
}

.title {
    font-size: 2rem;
    line-height: 1.38;
    color: black; /*#2e475d*/;
    font-weight: bold;
    text-align: center;
}

.connectMain {
    width: 100%;
    overflow: hidden;
    border-radius: 0.1875rem;
    border: 1px solid rgb(213, 217, 223);
    margin-bottom: 20rem;
}

.connectBody {
    display: flex;
    width: 100%;
    border: 1px solid rgb(161, 160, 160);
}

.mapBox {
    width: calc(100% - 400px);
}

.mapBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.connectBody {
    color: #2e475d;
}

.connectDetail {
    width: 25rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Replace start with flex-start */
    align-items: flex-start; /* Replace start with flex-start */
    background-color: #f6f9fc;
}

.connectDetail {
    width: 100%;
}

.detailItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Replace start with flex-start */
}

.detailItem span {
    color: black;
}

.detailUtem span {
    margin-bottom: 0.313rem;
}

.fax {
    display: flex;
    flex-direction: row;
}

/* ------------------ SKJEMA ------------------ */
.formInput { 
    width: 100%;
    margin-bottom: 8px;
    width: 25rem;
    height: 3.75rem;
}

.formInput input, .formInput textarea { 
    width: 100%;
    padding: 0.5625rem 0.625rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

/* ------------------ HOVER FOR BEGGE KORTENE ------------------ */
.supportCard:hover { 
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

/* ------------------ ALL MEDIA QUERIES AT THE END ------------------ */
@media (max-width: 1024px) {
    .connectBody {
        display: block;
    }
    .heroContent {
        background-position: 70% center; /* Shows more of the right side */
    }
 
}

@media (max-width: 768px) {
    .heroText, .supportCard {
        width: 100%;
    }
    .supports {
        display:block;
        flex-direction: row;
    }
    .first {
        margin-bottom: 4rem;
    }
}

@media (max-width: 450px) {
    .formInput input, .formInput textarea {
        width: 70%;
    }
    .heroContent {
        background-position: 50% center; 
    }
}

@media (max-width: 320px) {
    .formInput input, .formInput textarea {
        width: 60%;
    }
    .title {
        font-size: 1.5rem;
    }
    .btnCommon {
        font-size: .7rem;
        margin-top: 0.813rem;
    }
    .connectTitle {
        margin-bottom: 2rem;
    }
    .heroHeading {
        font-size: 2rem;
    }
 
}

@media (max-width: 280px) {
    .formInput input, .formInput textarea {
        width: 50%;
    }
}
